html {
    background-color: #fafafa;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

img,
button {
    display: block;
}

h1 {
    margin: 0 0 15px 0;
    padding: 5px 10px;
    background-color: black;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    width: fit-content;
}

.width-container {
    max-width: 950px;
    margin: 0 auto;
}

#page-header {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

#page-header .width-container {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-logo {
    height: 25px;
}

#main-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

#main-menu ul li {
    margin-right: 35px;
}

#main-menu ul li:last-child {
    margin-right: 0;
}

#main-menu ul li a {
    font-family: Lato, sans-serif;
    text-decoration: none;
    color: #777;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 200ms ease-out;
    position: relative;
}

#main-menu ul li a.active {
    color: #000;
    padding-left: 25px;
}

#main-menu ul li a.active::before {
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

#main-menu ul li a:hover {
    color: #000;
}

#search-button {
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

#hero-section {
    background-color: #ededef;
    padding: 100px 40px;
    position: relative;
}

#hero-section .width-container {
    position: relative;
}

#hero-image {
    position: absolute;
    top: 0px;
    right: 0;
    height: 100%;
}

#hero-section p {
    line-height: 1.5;
    color: black;
    padding: 5px 10px 5px 0px;
    width: fit-content;
    text-transform: uppercase;
}

#about-section {
    margin-top: 50px;
    padding: 0 40px;

    .width-container {
        display: flex;
        gap: 35px;
    }

    #about-image {
        width: 50%;
        object-fit: cover;
        object-position: right;
    }

    #about-text {
        width: 50%;
    }

    #skills {
        margin-top: 35px;

        .skill {
            margin-top: 20px;
        }

        .progress-bar {
            background-color: #ebebeb;
            border: 4px solid #ebebeb;

            .line {
                height: 2px;
                background-color: #a1a1a1;
                position: relative;

                .circle {
                    position: absolute;
                    right: 0;
                    width: 4px;
                    height: 4px;
                    background-color: white;
                    border: 3px solid black;
                    border-radius: 50%;
                    transform: translateY(-4px) translateX(50%);
                }

                .tooltip {
                    position: absolute;
                    padding: 5px 10px;
                    font-size: 11px;
                    background-color: black;
                    color: white;
                    font-family: 'Lato', sans-serif;
                    right: 0;
                    top: 0;
                    transform: translateX(100%) translateY(-35px);

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 6px;
                        height: 6px;
                        background-color: black;
                        transform: translateY(100%);
                        background-image: linear-gradient(
                            -45deg,
                            white,
                            white 50%,
                            black 50%,
                            black 100%
                        );
                    }
                }
            }
        }
    }
}

#team-section {
    margin-top: 50px;
}
